%ul
  %li= link_to "管理TOP", admin_root_path
  %li= link_to "技術書", admin_books_path
  %li= link_to "ユーザー", admin_users_path
  %li= link_to "取引", admin_dealings_path
  %li= link_to "住所", admin_addresses_path
  %li= link_to "カテゴリー", admin_acts_as_taggable_on_tags_path
  %li= link_to "管理者", admin_admin_users_path
