= form_for(resource, as: resource_name, url: user_registration_path, html: { id: "register-form", style: "display:none" }, remote: true) do |f|
  .modal-body.pb-5
    #js-signup-error
    %h3.text-center.heading.mt-10.mb-20 新規登録
    = link_to user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" do
      %i.fa.fa-facebook.pull-left
      Facebookで登録/ログイン
    = link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-sns btn-google btn-block" do
      %i.fa.fa-google.pull-left
      Googleで登録/ログイン
    = link_to user_twitter_omniauth_authorize_path, class: "btn btn-sns btn-twitter btn-block" do
      %i.fa.fa-twitter.pull-left
      Twitterで登録/ログイン
    = link_to user_yahoojp_omniauth_authorize_path, class: "btn btn-block btn-sns btn-yahoo" do
      %i.fa.fa-yahoo.pull-left
      Yahoo!で登録/ログイン
    .modal-seperator
      %span or
    .form-group
      = f.text_field :nickname, class: "form-control", placeholder: "ユーザーネーム"
    .form-group
      = f.email_field :email, class: "form-control", placeholder: "Emailアドレス"
    .form-group
      = f.password_field :password, class: "form-control", placeholder: "パスワード", autocomplete: "off"
    .form-group
      = f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードを再入力", autocomplete: "off"
    .modal-footer.mt-10
      .row.gap-10
        .col-xs-6.col-sm-6.mb-10
          = f.submit "登録", class: "btn btn-primary btn-block"
        .col-xs-6.col-sm-6.mb-10
          %button.btn.btn-primary.btn-inverse.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
      .text-left
        すでにアカウントをお持ちの場合は
        %button#register_login_btn.btn.btn-link{:type => "button"} こちら
