.clear
/ start Main Wrapper
.main-wrapper.scrollspy-container
  / start end Page title
  .page-title.page-title--user
    .container
      .row
        .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
          %h2.text-white= @user.nickname
          .user-thumbnail.mb-10{:style => "background-image:url('/assets/sekiya.jpeg');"}
  / end Page title
  .content-wrapper
    .container
      .row
        .col-sm-8.col-md-8
          .payment-box
            .payment-header.clearfix
              %h5.heading.mt-0 購入者情報
              %ul.list-info.no-icon.float-list.align-right
                %li
                  %span.font600 ニックネーム:
                %li
                  %span.font600 メールアドレス:
                %li
                  %span.font600 姓:
                %li
                  %span.font600 名:
                %li
                  %span.font600 郵便番号:
                %li
                  %span.font600 住所:
                %li
                  %span.font600 番号番号:
              %ul.list-info.no-icon.float-list.pad-left
                %li= @user.nickname
                %li= @user.email
                %li= @user.address.post_number
                %li= @user.address.family_name
                %li= @user.address.family_name
                %li= @user.address.street_address
                %li= @user.address.phone_number
          %h5.heading.mt-0 お気に入り書籍
          .package-list-item-wrapper.on-page-result-page.clearfix.flex-display
            = render partial: "books/searchedBook", collection: @user.favorite_books, as: :book
        .col-sm-4.col-md-4.mt-50-xs
          %aside.sidebar
            .sidebar-inner.no-border.for-blog
              .clear
              .sidebar-module
                %h4.sidebar-title 購入履歴
                .sidebar-module-inner
                  %ul.sidebar-post
                    = render partial: "bought", collection: @user.buyer_books, as: :bought_book
              .clear
/ end Main Wrapper
