.clear
/ start Main Wrapper
.main-wrapper
  .breadcrumb-wrapper.bg-light-2
    .container
      %ol.breadcrumb-list.booking-step
        %li
          = link_to "トップ", root_path
        / %li
        /   %a{:href => "#"} 検索結果
        %li
          = link_to "詳細ページ", book_path(@book)
        %li
          %a{:href => "#"} 購入ページ
        %li
          %span 完了画面
  .content-wrapper
    .container
      .row
        .col-sm-8.col-md-9
          .confirmation-wrapper
            .payment-success
              .icon
                %i.pe-7s-check.text-success
              .content
                %h2.heading.uppercase.mt-0.text-success 購入が完了しました。
                %p ご登録いただいたメール宛にお支払情報に関するご案内を送信させていただきます。
            .clearfix.mb-20
              .col-xs-8.col-md-4.pl-0
                = image_tag @book.image
            .confirmation-content
              .section-title.text-left
                %h4 お届け先詳細
              %ul.book-sum-list
                %li
                  %span.font600 宛名:
                  = @address.family_name + " " + @address.first_name + " 様"
                %li
                  %span.font600 書籍名:
                  = @book.title
                %li
                  %span.font600 お届け先郵便番号:
                  = @address.post_number
                %li
                  %span.font600> お届け先住所:
                  = @address.street_address
                %li
                  %span.font600> お支払金額合計:
                  = ((@book.price + @book.postage) * 1.08).ceil
                  円
            .text-right
              = link_to "マイページへ", user_path(current_user), class: "btn btn-primary btn-inverse"
        .col-sm-4.col-md-3.mt-50-xs
          %aside.sidebar.with-filter
            .sidebar-inner
              .sidebar-module
                %h4.heading.mt-0 お問い合わせ
                .sidebar-module-inner
                  %p.mb-10 東京都渋谷区道玄坂２丁目新大宗ビル３号館８階
                  %ul.help-list
                    %li
                      %span.font600> 電話番号
                      \: 090-0000-0000
                    %li
                      %span.font600> Email
                      \: support@tech-book.com
                    %li
                      %span.font600> Twitter
                      \: @tech-book
/ end Main Wrapper
