.clear
/ start Main Wrapper
.main-wrapper
  .breadcrumb-wrapper.bg-light-2
    .container
      %ol.breadcrumb-list.booking-step
        %li
          = link_to "トップページ", root_path
        %li
          = link_to "詳細画面", book_path(@book)
        %li
          %span お支払い
        %li
          %span 完了
  .content-wrapper
    .container
      .row
        .col-sm-12.visible-xs.mb-50
          = render partial: "price", locals: { book: @book }
        .col-sm-8.col-md-9{:role => "main"}
          .section-title.text-left
            %h3
              = @book.title
              %small を購入します。
          = form_for(@dealing, url: book_dealings_path) do |f|
            .payment-container
              .payment-box
                .payment-header.clearfix
                  .number
                    \!
                  %h5.heading.mt-0 お届け先詳細
                  %p
                    %span.necessary-info *必須情報
                .payment-content
                  .payment-traveller
                    .row.gap-0
                    = f.fields_for :address, @dealing.address do |address_form|
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :family_name, class: "col-sm-4 col-md-4 control-label" do
                            %span.necessary-info> *
                            姓:
                          .col-sm-6.col-md-6
                            = address_form.text_field :family_name, class: "form-control"
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :first_name, class: "col-sm-4 col-md-4 control-label" do
                            %span.necessary-info> *
                            名:
                          .col-sm-6.col-md-6
                            = address_form.text_field :first_name, class: "form-control"
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :order_email, class: "col-sm-4 col-md-4 control-label" do
                            %span.necessary-info> *
                            メールアドレス:
                          .col-sm-6.col-md-6
                            = address_form.email_field :order_email, class: "form-control", value: current_user.email
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :phone_number, "電話番号:", class: "col-sm-4 col-md-4 control-label"
                          .col-sm-6.col-md-6
                            = address_form.text_field :phone_number, class: "form-control"
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :post_number, class: "col-sm-4 col-md-4 control-label" do
                            %span.necessary-info> *
                            郵便番号:
                          .col-sm-6.col-md-6
                            = address_form.text_field :post_number, class: "form-control"
                      .form-horizontal
                        .form-group.gap-20
                          = address_form.label :street_address, class: "col-sm-4 col-md-4 control-label" do
                            %span.necessary-info> *
                            住所:
                          .col-sm-6.col-md-6
                            = address_form.text_field :street_address, class: "form-control"
                    .form-horizontal
                      .form-group.gap-20
                        = f.label :pay_select, class: "col-sm-4 col-md-4 control-label" do
                          %span.necessary-info> *
                          支払い方法:
                        .col-sm-6.col-md-6
                          = f.select :payment, { "クレジットカード": "credit_card", "銀行振り込み": "bank_account" }, { include_blank: "選択してください" }, { class: "form-control" }
                      .text-center.hidden
                        = javascript_include_tag "https://checkout.webpay.jp/v2/", class: 'webpay-button', data: { key: "#{ENV['WEBPAY_PUBLIC']}", lang: "ja", partial: true }
            .checkbox-block
              = f.check_box :registered, class: "checkbox", id: "accept_booking"
              / %input#accept_booking.checkbox{:name => "accept_booking", :type => "checkbox", :value => "paymentsCreditCard"}/
              %label{:for => "accept_booking"}
                %a{:href => "#"}> 利用規約
                及び
                %a{:href => "#"}> プライバシーポリシー
                に同意します。

            .row.mt-20.clearfix
              .col-sm-12.col-md-12
                = f.button "注文を確定する", class: "btn btn-primary"
        .col-sm-4.col-md-3.hidden-xs
          = render partial: "price", locals: { book: @book }
/ end Main Wrapper
