%li.clearfix
  = link_to book_path(book) do
    = image_tag book.image, alt: book.title, class: "image"
    .content
      %h6= book.title
      %p.recent-post-sm-meta
        %i.fa.fa-jpy
        = book.price
      = link_to "出品内容を変更する", edit_book_path(book), class: "btn btn-primary btn-sm btn-inverse"
