.GridLex-col-4_sm-4_xs-12.mb-20
  .package-grid-item
    = link_to book_path(book) do
      .image
        = image_tag book.image, alt: book.title
    .absolute-in-image.clearfix.tag-container
      - book.category_list.each do |category_tag|
        .duration.tag-float
          %span= link_to category_tag, books_search_path(category: category_tag), class: "tag-color"
    .content.clearfix
      %h6.related-title= book.title
      .absolute-in-content
        .price #{book.price}円
