.col-md-6.col-lg-4.pl-0.ml-0
  .package-list-item.clearfix.pl-15
    = link_to book_path(book) do
      .image
        = image_tag book.image, alt: book.title
        .absolute-in-image.clearfix.tag-container
          - book.category_list.each do |category_tag|
            .duration.tag-float
              %span= category_tag
      .content
        .row.gap-10
          .col-sm-12.col-md-12
            %h5= book.title
            %p.line18= book.detail
          .col-sm-12.col-md-12.text-left-sm
            .price #{book.price}円
