.payment-traveller.mb-0
  = form_for book, class: "form-horizontal" do |f|
    = f.hidden_field :amazon_url
    .form-horizontal
      .form-group.gap-20
        = f.label :title, class: "col-sm-2 col-md-2 control-label" do
          %span.necessary-info> *
          タイトル:
        .col-sm-10.col-md-10
          = f.text_field :title, class: "form-control"
    .form-horizontal
      .form-group.gap-20
        = f.label :price, class: "col-sm-2 col-md-2 control-label" do
          %span.necessary-info> *
          価格:
        .col-sm-10.col-md-10
          = f.number_field :price, class: "form-control"
    .form-horizontal
      .form-group.gap-20
        = f.label :postage, class: "col-sm-2 col-md-2 control-label" do
          %span.necessary-info> *
          送料:
        .col-sm-10.col-md-10
          = f.number_field :postage, class: "form-control"
    .form-horizontal
      .form-group.gap-20
        = f.label :category_list, "カテゴリー:", class: "col-sm-2 col-md-2 control-label"
        .col-sm-10.col-md-10
          = text_field_tag "book[category_list]", book.category_list.join(","), class: "form-control", "data-role": "tagsinput"
    .form-horizontal
      .form-group.gap-20
        = f.label :state, "状態:", class: "col-sm-2 col-md-2 control-label"
        .col-sm-10.col-md-10
          = f.text_field :state, class: "form-control"
    .form-horizontal
      .form-group.gap-20
        = f.label :detail, "詳細:", class: "col-sm-2 col-md-2 control-label"
        .col-sm-10.col-md-10
          = f.text_area :detail, class: "form-control"
    / .form-horizontal
    /   .form-group.gap-20
    /     = f.label :image, "画像(ファイル):", class: "col-sm-2 col-md-2 control-label"
    /     .col-sm-10.col-md-10
    /       = f.file_field :image, class: "form-control"
    .form-horizontal
      .form-group.gap-20
        = f.label :remote_image_url, "画像(URL):", class: "col-sm-2 col-md-2 control-label"
        .col-sm-10.col-md-10
          = f.text_field :remote_image_url, class: "form-control"
          = image_tag @book.image_url, class: "img-thumbnail" if @book.image.present?
    .text-center
      - if request.path_info == books_path || request.path_info == new_book_path
        = f.submit "出品", class: "btn btn-primary btn-bg btn-lg"
      - else
        %ul
          %li
            = f.submit "内容を変更する", class: "btn btn-primary btn-bg btn-lg btn-inverse"
          %li.mar-top
            = link_to "出品を取り下げる", book_path(book), method: :delete, class: "btn btn-primary btn-sm btn-inverse"

