/ start Main Wrapper
.main-wrapper
  / start hero-header with windows height
  .hero
    .container
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          %h1.hero-title
            読んだ技術書は、
            %br>/
            次の世代のエンジニアへ。
          %p.lead エンジニアのための書籍シェアリングサービス
      .main-search-wrapper.full-width
        = form_tag books_database_path, method: :get do
          .inner
            .column-item
              .form-group
                = select "", :category, @categories.pluck(:name), { include_blank: "カテゴリを選択" }, { class: "select select2-multi form-control" }
            #long-column-item.column-item
              .form-group
                = text_field "", :keyword, class: "form-control", placeholder: "キーワード"
            .column-item.for-btn.with-100-md
              .form-group
                = submit_tag "書籍を検索", class: "btn btn-primary btn-block"
  %section.bg-light.new-books
    .container
      .row
        .col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
          .section-title
            %h3 新着の技術書一覧
            %p 新着で出品された技術書の一覧です。
      .GridLex-gap-30-wrappper.package-grid-item-wrapper
        .GridLex-grid-noGutter-equalHeight
          = render @books
      = render partial: "bookPager", locals: { books: @books }
  %section.overflow-hidden.why-us-half-image-wrapper
    .GridLex-grid-noGutter-equalHeight
      .GridLex-col-6_sm-12
        .why-us-half-image-content
          .section-title.text-left
            %h3 techbookだからできること
            %p techbookならではのサービスを紹介します。
          .featured-item
            %h4 中古書籍なのでリーズナブル
            .content.clearfix
              .icon
                %i.pe-7s-users
              %p 新品で買うと高額な技術書も、techbookで買うことでリーズナブルな価格で入手することができます。
          .featured-item
            %h4 簡単クレジットカード決済
            .content.clearfix
              .icon
                %i.pe-7s-home
              %p 書店に行かなくてもオンラインで簡単に購入していただけます。
          .featured-item
            %h4 出品者のレビューが見られるので安心
            .content.clearfix
              .icon
                %i.pe-7s-car
              %p 出品者のレビューをたくさんある技術書の中で比較するための指標としてお使いいただけます。
      .GridLex-col-6_sm-12.image-bg
        .image-bg
  %section.bg-light
    .container
      .row
        .col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
          .section-title
            %h3 利用者の声
            %p
      .testimonial-wrapper
        .row
          .col-xs-12.col-sm-12.col-md-6
            .testimonial-item.clearfix
              .image
                = image_tag "testimonial-01.png", alt: "yamane"
              .content
                %h4 山根祐亮
                %h6 Railsエンジニア
                %p RubyやJavaScriptの本を買わせていただきました。自分がまだエンジニアとしての歴が浅くてお金に余裕がなかったころ、いつも人から借りて本を技術書でいたので、今こういったサービスで本を買うことができるエンジニアは幸せだと思います。
          .col-xs-12.col-sm-12.col-md-6
            .testimonial-item.clearfix
              .image
                = image_tag "testimonial-02.png", alt: "maehira"
              .content
                %h4 前平亮祐
                %h6 デザイナー
                %p デザインの本って新品だととても高いので、助かっています。辞書代わりにつねに手元においておきたい技術書こそ、ハードで買いましょう！
  .newsletter-wrapper
    .container
      .flex-row.flex-align-middle.flex-gap-30
        .flex-column.flex-sm-12
          .newsletter-text.clearfix
            .icon
              %i.pe-7s-mail
            .content
              %h3 ニュースレターを受け取る
              %p メールアドレスを登録して、最新の技術書情報などをチェックしましょう。
        .flex-columns.flex-sm-12
          .newsletter-form
            %form
              .input-group
                %input.form-control{:placeholder => "Emailアドレス", :type => "text"}/
                %span.input-group-btn
                  %button.btn.btn-primary{:type => "button"}
                    登録
                    %i.fa.fa-long-arrow-right
  .overflow-hidden
    .instagram-wrapper
      #instagram.instagram
/ end Main Wrapper
