.clear
/ start Main Wrapper
.main-wrapper.scrollspy-container
  / start end Page title
  .page-title.page-title--user
    .container
      .row
        .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
          %h2.text-white= current_user.nickname
          = image_tag current_user.avatar, class: "user-thumbnail mb-10 width-auto" if current_user.avatar?
  / end Page title
  .content-wrapper
    .container
      .row
        .col-sm-8.col-md-8
          .payment-box
            .payment-header.clearfix
              %h4.heading.mt-0 出品する
              .row.payment-box.clearfix
                = form_tag books_amazon_path, method: :get, remote: true do
                  .input-group
                    %span.input-group-btn
                      = submit_tag "情報を取得", class: "btn btn-primary"
                    = text_field "", :keyword, class: "form-control", placeholder: "タイトル"
                %ul#js-amazon-list
              = render "sell", book: @book
        .col-sm-4.col-md-4.mt-50-xs
          %aside.sidebar
            .sidebar-inner.no-border.for-blog
              .clear
              .sidebar-module
                %h4.sidebar-title 出品中の本
                .sidebar-module-inner
                  %ul.sidebar-post
                    - if current_user.seller_books.present?
                      = render partial: "onSale", collection: current_user.seller_books, as: :book
                    - else
                      %p 現在出品中の本はありません
