.clear
/ start Main Wrapper
.main-wrapper
  / start end Page title
  .page-title.image-bg
    .container
      .row
        .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
          %h1.hero-title 書籍一覧
  / end Page title
  .breadcrumb-wrapper.bg-light-2
    .container
      %ol.breadcrumb-list.booking-step
        %li
          = link_to "トップ", root_path
        %li
          %span カテゴリ：
          %a{:href => "#"} #{@searcher[:category]}
          %span キーワード：#{@searcher[:keyword]}
  .content-wrapper
    .container
      .row
        .col-sm-4.col-md-3
          %aside.sidebar.with-filter
            .sidebar-search-wrapper.bg-light-2
              .sidebar-search-header
                %h4 再検索
              .sidebar-search-content
                = form_tag books_search_path, method: :get do
                  .form-group
                    = select "", :category, @categories.pluck(:name), { include_blank: "カテゴリを選択" }, { class: "select select2-multi form-control" }
                  .form-group
                    = text_field "", :keyword, class: "form-control", placeholder: "キーワード", value: @searcher[:keyword]
                  = submit_tag "書籍を検索", class: "btn btn-primary btn-block"
        .col-sm-8.col-md-9
          .sorting-wrappper
            .sorting-header
              %p.sorting-lead #{@books.total_count}件の検索結果が見つかりました。
          .package-list-item-wrapper.on-page-result-page.clearfix
            = render partial: "searchedBook", collection: @books, as: :book
          .pager-wrappper.clearfix
            .pager-innner
              .flex-row.flex-align-middle
                .flex-column.flex-sm-12
                  #{@books.total_count}件中#{@books.offset_value}~#{@books.offset_value + @books.length}件目を表示しています。
                .flex-column.flex-sm-12
                  %nav.pager-right
                    = paginate @books, theme: "twitter-bootstrap-3", pagination_class: "pagination-sm"
/ end Main Wrapper
